<div class="left floated ui bigger avatar image">
	<a href="http://kipalog.com/users/ThuanNguyen1/mypage">
		<img class="lazy" src="themes/default/images/picture">
	</a>			
</div>
<div class="right floated">
	<a class="name" href="http://kipalog.com/users/ThuanNguyen1/mypage">
		<h2 class="caption">
		Thuận Nguyễn
		</h2>
	</a>				
	<div class="extra">
		<a href="http://kipalog.com/users/ThuanNguyen1/mypage">0</a>
		bài viết.
		<br>
		<a href="http://kipalog.com/users/ThuanNguyen1/mypage">0</a>
		người theo dõi.
	</div>
</div>