<form id="search-form" class="ng-pristine ng-valid" 
	method="GET" 
	action="http://kipalog.com/search">
	<div class="ui icon input">
			<input value="" id="search-field" 
			name="q" class="focus-popup" 
			placeholder="Tìm kiếm" 
			autocomplete="off" 
			data-content="<span>Nhập từ và </span><div class='enter-button'><span>enter </span><i class='clockwise rotated level down icon'></i></div><span> để bắt đầu tìm kiếm</span>" 
			data-position="bottom center" 
			data-offset="7" type="text" />
	</div>
</form>