<p class="organization-title">
	<i class="gold sitemap icon"></i>
	<a href="http://kipalog.com/organizations">
			&nbsp; Các công ty và tổ chức
	</a>
</p>

<div class="ui selection list suggest-orgs">
		<div class="item" href="">
			<div class="left floated ui avatar image">
					<img class="lazy" src="themes/default/images/blob_1tmo4o6l5d">
			</div>
			<span class="right floated">
					<i class="small green users icon"></i>4
				</span>
				<a href="http://kipalog.com/organizations/RubyGirls%20Vi%E1%BB%87t%20Nam">
					RubyGirls Việt Nam
				</a>
		</div>						
</div>